/* Стили для формы */
form {
  max-width: 400px; /* Максимальная ширина формы */
  margin: 20px auto; /* Центрирование формы */
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%; /* Элементы во всю ширину формы */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

form button {
  background-color: #002B5B; /* Темно-синий */
  color: white;
  border: none;
  padding: 10px;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  width: 100%; /* Кнопка во всю ширину */
  margin: 5px 0; /* Отступ между кнопками */
}

form button:hover {
  background-color: #001F4D; /* Темнее оттенок синего */
}

/* Блок с кнопками контактов */
.contact-buttons {
  max-width: 400px; /* Ширина блока кнопок */
  margin: 0 auto 20px; /* Центрирование и отступ снизу */
}

/* Кнопки контактов */
.contact-buttons button {
  background-color: #002B5B; /* Темно-синий */
  color: white;
  border: none;
  padding: 10px;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
  width: 100%; /* Кнопки во всю ширину */
  margin: 5px 0; /* Отступ между кнопками */
}

.contact-buttons button:hover {
  background-color: #001F4D; /* Темнее оттенок синего */
}